/** Navbar **/

.navbar{
	box-shadow: 2px 2px 5px blue;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

/** Home **/

.home-section{
	margin-top: 87px !important;
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/1.jpg);
	background-size:cover;
	background-attachment:fixed;
	background-position:center bottom;
	background-repeat:no-repeat;
}

